{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Audio Persistente</title>
</head>
<body>

        <audio id="bgMusic" autoplay muted loop>
            <source src="{% static 'aud/dbz.mp3' %}" type="audio/mp3">
        </audio>


        <script>
        document.addEventListener("DOMContentLoaded", function () {
            let audio = document.getElementById("bgMusic");

            if (audio) {
                let isMuted = localStorage.getItem("audioMuted") === "true";
                audio.muted = isMuted;
            }
        });

        window.addEventListener("message", function(event) {
            if (event.data === "toggleSound") {
                let audio = document.getElementById("bgMusic");
                if (audio) {
                    audio.muted = !audio.muted;
                    localStorage.setItem("audioMuted", audio.muted);
                }
            }
        });
        </script>

            

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                let audio = document.getElementById("bgMusic");
                if (audio) {
                    audio.volume = 0.2;  
                }
            });
        </script>

</body>
</html>
